In [21]:
import pandas as pd
import numpy as np

from IPython.display import display

In [22]:
df = pd.read_excel('2016OhioElectionExitPollTidy.xlsx')
display(df.head())

joined = pd.merge(df, df, on='Category')
joined = joined.loc[joined.Year_x < joined.Year_y]
joined = joined.loc[:, ['Category', 'Percentage_x', 'Percentage_y']]
joined.columns = ['Category', '2012', '2016']
display(joined)

joined.to_csv('ohio_exit_polls.csv')

display(pd.melt(joined, id_vars=['Category'], value_vars=['2012', '2016']))

   Year Category  Percentage
0  2012    Union        0.60
1  2012    18-24        0.62
2  2012    25-29        0.63
3  2012    30-39        0.55
4  2012    40-49        0.45

          Category  2012  2016
1            Union  0.60  0.43
5            18-24  0.62  0.56
9            25-29  0.63  0.47
13           30-39  0.55  0.43
17           40-49  0.45  0.41
21           50-64  0.48  0.43
25             65+  0.44  0.43
29  Less than $50k  0.59  0.52
33    $50k or more  0.44  0.41

          Category variable  value
0            Union     2012   0.60
1            18-24     2012   0.62
2            25-29     2012   0.63
3            30-39     2012   0.55
4            40-49     2012   0.45
5            50-64     2012   0.48
6              65+     2012   0.44
7   Less than $50k     2012   0.59
8     $50k or more     2012   0.44
9            Union     2016   0.43
10           18-24     2016   0.56
11           25-29     2016   0.47
12           30-39     2016   0.43
13           40-49     2016   0.41
14           50-64     2016   0.43
15             65+     2016   0.43
16  Less than $50k     2016   0.52
17    $50k or more     2016   0.41

In [41]:
df = pd.read_csv('data/exit_polls.csv')

joined = pd.merge(df, df, on=['state', 'pollname', 'answer'])
joined = joined.loc[joined.year_x < joined.year_y]
joined = joined.loc[:, ['state', 'pollname', 'question_y', 'answer', 'democrat_x', 'republican_x', 'democrat_y', 'republican_y']]
joined.columns = ['state', 'pollname', 'question', 'answer', 'democrat_2012', 'republican_2012', 'democrat_2016', 'republican_2016']

melted = pd.melt(joined, id_vars=['state', 'pollname', 'question', 'answer'], value_vars=['democrat_2012', 'republican_2012', 'democrat_2016', 'republican_2016'])
melted.columns = ['state', 'pollname', 'question', 'answer', 'year', 'value']
melted.year = melted.year.str.replace("[democrat_|republican_]", '')

melted = melted.fillna(0)

#display(df.head())
#display(df.dtypes)
#display(joined)
display(melted)

melted.to_csv('exit_polls_tidy.csv')

,state,pollname,question,answer,year,value
0,AZ,SEX,Gender,Male,2012,40.0
1,AZ,SEX,Gender,Female,2012,46.0
2,AZ,AGE,Age,18-29,2012,63.0
3,AZ,AGE,Age,30-44,2012,37.0
4,AZ,AGE,Age,45-64,2012,38.0
5,AZ,AGE,Age,65 and older,2012,29.0
6,AZ,AGE65,Age,18-24,2012,66.0
7,AZ,AGE65,Age,25-29,2012,59.0
8,AZ,AGE65,Age,30-39,2012,37.0
9,AZ,AGE65,Age,40-49,2012,40.0
10,AZ,AGE65,Age,50-64,2012,36.0
11,AZ,AGE65,Age,65 and older,2012,29.0
12,AZ,RACE,Race,White,2012,32.0
13,AZ,RACE,Race,Black,2012,0.0
14,AZ,RACE,Race,Latino,2012,74.0
15,AZ,RACE,Race,Asian,2012,0.0
16,AZ,SEXBYRACE,Race and gender,White men,2012,30.0
17,AZ,SEXBYRACE,Race and gender,White women,2012,35.0
18,AZ,SEXBYRACE,Race and gender,Black men,2012,0.0
19,AZ,SEXBYRACE,Race and gender,Black women,2012,0.0
20,AZ,SEXBYRACE,Race and gender,Latino men,2012,71.0
21,AZ,SEXBYRACE,Race and gender,Latino women,2012,77.0
22,AZ,SEXBYRACE,Race and gender,Others,2012,0.0
23,AZ,PHIL3,Ideology,Liberal,2012,86.0
24,AZ,PHIL3,Ideology,Moderate,2012,51.0
25,AZ,PHIL3,Ideology,Conservative,2012,12.0
26,AZ,EDUCCOLL,Are you a college graduate?,Yes,2012,42.0
27,AZ,EDUCCOLL,Are you a college graduate?,No,2012,44.0
28,AZ,INCOME3,Income,Under $50K,2012,47.0
29,AZ,INCOME3,Income,$50K-$100K,2012,41.0
...,...,...,...,...,...,...
3906,WI,RACE,Race,Asian,2016,0.0
3907,WI,SEXBYRACE,Race and gender,White men,2016,59.0
3908,WI,SEXBYRACE,Race and gender,White women,2016,47.0
3909,WI,SEXBYRACE,Race and gender,Black men,2016,8.0
3910,WI,SEXBYRACE,Race and gender,Black women,2016,3.0
3911,WI,SEXBYRACE,Race and gender,Latino men,2016,0.0
3912,WI,SEXBYRACE,Race and gender,Latino women,2016,0.0
3913,WI,SEXBYRACE,Race and gender,Others,2016,0.0
3914,WI,PHIL3,Ideology,Liberal,2016,10.0
3915,WI,PHIL3,Ideology,Moderate,2016,42.0
3916,WI,PHIL3,Ideology,Conservative,2016,85.0
3917,WI,EDUCCOLL,Are you a college graduate?,Yes,2016,39.0
3918,WI,EDUCCOLL,Are you a college graduate?,No,2016,56.0
3919,WI,INCOME3,Income,Under $50K,2016,45.0
3920,WI,INCOME3,Income,$50K-$100K,2016,52.0
3921,WI,INCOME3,Income,$100K or more,2016,46.0
3922,WI,INC50K,Income,Under $50K,2016,45.0
3923,WI,INC50K,Income,$50K or more,2016,50.0
3924,WI,WHTEVANG,White born-again or evangelical Christian?,Yes,2016,73.0
3925,WI,WHTEVANG,White born-again or evangelical Christian?,No,2016,38.0
3926,WI,NEC,Condition of national economy,Excellent,2016,0.0
3927,WI,NEC,Condition of national economy,Good,2016,21.0
3928,WI,NEC,Condition of national economy,Poor,2016,78.0
3929,WI,MARRIED,Marital status,Married,2016,55.0
3930,WI,MARRIED,Marital status,Unmarried,2016,43.0
3931,WI,UNIONHH12,Union household?,Union,2016,43.0
3932,WI,UNIONHH12,Union household?,Not Union,2016,52.0
3933,WI,FAVRYAN2,Opinion of Paul Ryan,Favorable,2016,63.0
3934,WI,FAVRYAN2,Opinion of Paul Ryan,Unfavorable,2016,30.0
3935,WI,GEOCOD,Region,Milwaukee County,2016,27.0