In [21]:
import pandas as pd
import numpy as np

from IPython.display import display

In [22]:
df = pd.read_excel('2016OhioElectionExitPollTidy.xlsx')
display(df.head())

joined = pd.merge(df, df, on='Category')
joined = joined.loc[joined.Year_x < joined.Year_y]
joined = joined.loc[:, ['Category', 'Percentage_x', 'Percentage_y']]
joined.columns = ['Category', '2012', '2016']
display(joined)

joined.to_csv('ohio_exit_polls.csv')

display(pd.melt(joined, id_vars=['Category'], value_vars=['2012', '2016']))

   Year Category  Percentage
0  2012    Union        0.60
1  2012    18-24        0.62
2  2012    25-29        0.63
3  2012    30-39        0.55
4  2012    40-49        0.45

          Category  2012  2016
1            Union  0.60  0.43
5            18-24  0.62  0.56
9            25-29  0.63  0.47
13           30-39  0.55  0.43
17           40-49  0.45  0.41
21           50-64  0.48  0.43
25             65+  0.44  0.43
29  Less than $50k  0.59  0.52
33    $50k or more  0.44  0.41

          Category variable  value
0            Union     2012   0.60
1            18-24     2012   0.62
2            25-29     2012   0.63
3            30-39     2012   0.55
4            40-49     2012   0.45
5            50-64     2012   0.48
6              65+     2012   0.44
7   Less than $50k     2012   0.59
8     $50k or more     2012   0.44
9            Union     2016   0.43
10           18-24     2016   0.56
11           25-29     2016   0.47
12           30-39     2016   0.43
13           40-49     2016   0.41
14           50-64     2016   0.43
15             65+     2016   0.43
16  Less than $50k     2016   0.52
17    $50k or more     2016   0.41

In [57]:
df = pd.read_csv('data/exit_polls.csv')

joined = pd.merge(df, df, on=['state', 'pollname', 'answer'])
joined = joined.loc[joined.year_x < joined.year_y]
joined = joined.loc[:, ['state', 'pollname', 'question_y', 'answer', 'democrat_x', 'republican_x', 'democrat_y', 'republican_y']]
joined.columns = ['state', 'pollname', 'question', 'answer', 'democrat_2012', 'republican_2012', 'democrat_2016', 'republican_2016']

df2012 = joined[['state', 'pollname', 'question', 'answer', 'democrat_2012', 'republican_2012']].copy()
df2016 = joined[['state', 'pollname', 'question', 'answer', 'democrat_2016', 'republican_2016']].copy()

cols = ['state', 'pollname', 'question', 'answer', 'democrat', 'republican']

df2012.columns = cols
df2016.columns = cols

df2012['year'] = 2012
df2016['year'] = 2016

#display(df2012)
#display(df2016)

melted = df2012.append(df2016)
display(melted)

#melted = pd.melt(joined, id_vars=['state', 'pollname', 'question', 'answer'], value_vars=['democrat_2012', 'republican_2012'])
#melted = pd.melt(joined, id_vars=['state', 'pollname', 'question', 'answer'], value_vars=['democrat_2012', 'republican_2012', 'democrat_2016', 'republican_2016'])
#melted.columns = ['state', 'pollname', 'question', 'answer', 'year', 'democrat', 'republican']
#melted.year = melted.year.str.replace("[democrat_|republican_]", '')

#melted = melted.fillna(0)

#display(df.head())
#display(df.dtypes)
#display(joined)
#display(melted)

#melted.to_csv('exit_polls_tidy.csv')

,state,pollname,question,answer,democrat,republican,year
101,AZ,SEX,Gender,Male,40.0,57.0,2012
105,AZ,SEX,Gender,Female,46.0,53.0,2012
109,AZ,AGE,Age,18-29,63.0,36.0,2012
113,AZ,AGE,Age,30-44,37.0,59.0,2012
117,AZ,AGE,Age,45-64,38.0,61.0,2012
121,AZ,AGE,Age,65 and older,29.0,71.0,2012
125,AZ,AGE65,Age,18-24,66.0,32.0,2012
129,AZ,AGE65,Age,25-29,59.0,39.0,2012
133,AZ,AGE65,Age,30-39,37.0,58.0,2012
137,AZ,AGE65,Age,40-49,40.0,58.0,2012
141,AZ,AGE65,Age,50-64,36.0,64.0,2012
145,AZ,AGE65,Age,65 and older,29.0,71.0,2012
149,AZ,RACE,Race,White,32.0,66.0,2012
153,AZ,RACE,Race,Black,NaN,NaN,2012
157,AZ,RACE,Race,Latino,74.0,25.0,2012
161,AZ,RACE,Race,Asian,NaN,NaN,2012
166,AZ,SEXBYRACE,Race and gender,White men,30.0,67.0,2012
170,AZ,SEXBYRACE,Race and gender,White women,35.0,65.0,2012
174,AZ,SEXBYRACE,Race and gender,Black men,NaN,NaN,2012
178,AZ,SEXBYRACE,Race and gender,Black women,NaN,NaN,2012
182,AZ,SEXBYRACE,Race and gender,Latino men,71.0,27.0,2012
186,AZ,SEXBYRACE,Race and gender,Latino women,77.0,22.0,2012
190,AZ,SEXBYRACE,Race and gender,Others,NaN,NaN,2012
194,AZ,PHIL3,Ideology,Liberal,86.0,12.0,2012
198,AZ,PHIL3,Ideology,Moderate,51.0,46.0,2012
202,AZ,PHIL3,Ideology,Conservative,12.0,87.0,2012
214,AZ,EDUCCOLL,Are you a college graduate?,Yes,42.0,56.0,2012
218,AZ,EDUCCOLL,Are you a college graduate?,No,44.0,55.0,2012
224,AZ,INCOME3,Income,Under $50K,47.0,51.0,2012
228,AZ,INCOME3,Income,$50K-$100K,41.0,57.0,2012
...,...,...,...,...,...,...,...
7417,WI,RACE,Race,Asian,NaN,NaN,2016
7422,WI,SEXBYRACE,Race and gender,White men,35.0,59.0,2016
7426,WI,SEXBYRACE,Race and gender,White women,49.0,47.0,2016
7430,WI,SEXBYRACE,Race and gender,Black men,90.0,8.0,2016
7434,WI,SEXBYRACE,Race and gender,Black women,94.0,3.0,2016
7438,WI,SEXBYRACE,Race and gender,Latino men,NaN,NaN,2016
7442,WI,SEXBYRACE,Race and gender,Latino women,NaN,NaN,2016
7446,WI,SEXBYRACE,Race and gender,Others,NaN,NaN,2016
7450,WI,PHIL3,Ideology,Liberal,86.0,10.0,2016
7454,WI,PHIL3,Ideology,Moderate,52.0,42.0,2016
7458,WI,PHIL3,Ideology,Conservative,11.0,85.0,2016
7470,WI,EDUCCOLL,Are you a college graduate?,Yes,55.0,39.0,2016
7474,WI,EDUCCOLL,Are you a college graduate?,No,40.0,56.0,2016
7480,WI,INCOME3,Income,Under $50K,49.0,45.0,2016
7484,WI,INCOME3,Income,$50K-$100K,46.0,52.0,2016
7488,WI,INCOME3,Income,$100K or more,48.0,46.0,2016
7492,WI,INC50K,Income,Under $50K,49.0,45.0,2016
7496,WI,INC50K,Income,$50K or more,47.0,50.0,2016
7513,WI,WHTEVANG,White born-again or evangelical Christian?,Yes,23.0,73.0,2016
7517,WI,WHTEVANG,White born-again or evangelical Christian?,No,57.0,38.0,2016
7558,WI,NEC,Condition of national economy,Excellent,NaN,NaN,2016
7562,WI,NEC,Condition of national economy,Good,77.0,21.0,2016
7567,WI,NEC,Condition of national economy,Poor,16.0,78.0,2016
7613,WI,MARRIED,Marital status,Married,40.0,55.0,2016
7617,WI,MARRIED,Marital status,Unmarried,51.0,43.0,2016
7633,WI,UNIONHH12,Union household?,Union,53.0,43.0,2016
7637,WI,UNIONHH12,Union household?,Not Union,44.0,52.0,2016
7645,WI,FAVRYAN2,Opinion of Paul Ryan,Favorable,32.0,63.0,2016
7649,WI,FAVRYAN2,Opinion of Paul Ryan,Unfavorable,66.0,30.0,2016
7660,WI,GEOCOD,Region,Milwaukee County,67.0,27.0,2016