In [21]:
import pandas as pd
import numpy as np

from IPython.display import display

In [22]:
df = pd.read_excel('2016OhioElectionExitPollTidy.xlsx')
display(df.head())

joined = pd.merge(df, df, on='Category')
joined = joined.loc[joined.Year_x < joined.Year_y]
joined = joined.loc[:, ['Category', 'Percentage_x', 'Percentage_y']]
joined.columns = ['Category', '2012', '2016']
display(joined)

joined.to_csv('ohio_exit_polls.csv')

display(pd.melt(joined, id_vars=['Category'], value_vars=['2012', '2016']))

   Year Category  Percentage
0  2012    Union        0.60
1  2012    18-24        0.62
2  2012    25-29        0.63
3  2012    30-39        0.55
4  2012    40-49        0.45

          Category  2012  2016
1            Union  0.60  0.43
5            18-24  0.62  0.56
9            25-29  0.63  0.47
13           30-39  0.55  0.43
17           40-49  0.45  0.41
21           50-64  0.48  0.43
25             65+  0.44  0.43
29  Less than $50k  0.59  0.52
33    $50k or more  0.44  0.41

          Category variable  value
0            Union     2012   0.60
1            18-24     2012   0.62
2            25-29     2012   0.63
3            30-39     2012   0.55
4            40-49     2012   0.45
5            50-64     2012   0.48
6              65+     2012   0.44
7   Less than $50k     2012   0.59
8     $50k or more     2012   0.44
9            Union     2016   0.43
10           18-24     2016   0.56
11           25-29     2016   0.47
12           30-39     2016   0.43
13           40-49     2016   0.41
14           50-64     2016   0.43
15             65+     2016   0.43
16  Less than $50k     2016   0.52
17    $50k or more     2016   0.41

In [32]:
df = pd.read_csv('data/exit_polls.csv')
display(df.head())

#display(df.dtypes)

joined = pd.merge(df, df, on=['state', 'pollname', 'answer'])
joined = joined.loc[joined.year_x < joined.year_y]
joined = joined.loc[:, ['state', 'pollname', 'question_y', 'answer', 'democrat_x', 'republican_x', 'democrat_y', 'republican_y']]
joined.columns = ['state', 'pollname', 'question', 'answer', 'democrat_2012', 'republican_2012', 'democrat_2016', 'republican_2016']
#display(joined)

#joined.to_csv('ohio_exit_polls.csv')

melted = pd.melt(joined, id_vars=['state', 'pollname', 'question', 'answer'], value_vars=['democrat_2012', 'republican_2012', 'democrat_2016', 'republican_2016']))
melted.columns = ['state', 'pollname', 'question', 'answer', 'year', 'value']

display(melted)

SyntaxError: invalid syntax (<ipython-input-32-c2d050c131e4>, line 14)