In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('2016OhioElectionExitPollTidy.xlsx')
df.head()

   Year Category  Percentage
0  2012    Union        0.60
1  2012    18-24        0.62
2  2012    25-29        0.63
3  2012    30-39        0.55
4  2012    40-49        0.45

In [13]:
joined = pd.merge(df, df, on='Category')
joined = joined.loc[joined.Year_x < joined.Year_y]
joined = joined.loc[:, ['Category', 'Percentage_x', 'Percentage_y']]
joined.columns = ['Category', '2012', '2016']
joined

          Category  2012  2016
1            Union  0.60  0.43
5            18-24  0.62  0.56
9            25-29  0.63  0.47
13           30-39  0.55  0.43
17           40-49  0.45  0.41
21           50-64  0.48  0.43
25             65+  0.44  0.43
29  Less than $50k  0.59  0.52
33    $50k or more  0.44  0.41

In [14]:
joined.to_csv('ohio_exit_polls.csv')