In [21]:
import pandas as pd
import numpy as np

from IPython.display import display

In [22]:
df = pd.read_excel('2016OhioElectionExitPollTidy.xlsx')
display(df.head())

joined = pd.merge(df, df, on='Category')
joined = joined.loc[joined.Year_x < joined.Year_y]
joined = joined.loc[:, ['Category', 'Percentage_x', 'Percentage_y']]
joined.columns = ['Category', '2012', '2016']
display(joined)

joined.to_csv('ohio_exit_polls.csv')

display(pd.melt(joined, id_vars=['Category'], value_vars=['2012', '2016']))

   Year Category  Percentage
0  2012    Union        0.60
1  2012    18-24        0.62
2  2012    25-29        0.63
3  2012    30-39        0.55
4  2012    40-49        0.45

          Category  2012  2016
1            Union  0.60  0.43
5            18-24  0.62  0.56
9            25-29  0.63  0.47
13           30-39  0.55  0.43
17           40-49  0.45  0.41
21           50-64  0.48  0.43
25             65+  0.44  0.43
29  Less than $50k  0.59  0.52
33    $50k or more  0.44  0.41

          Category variable  value
0            Union     2012   0.60
1            18-24     2012   0.62
2            25-29     2012   0.63
3            30-39     2012   0.55
4            40-49     2012   0.45
5            50-64     2012   0.48
6              65+     2012   0.44
7   Less than $50k     2012   0.59
8     $50k or more     2012   0.44
9            Union     2016   0.43
10           18-24     2016   0.56
11           25-29     2016   0.47
12           30-39     2016   0.43
13           40-49     2016   0.41
14           50-64     2016   0.43
15             65+     2016   0.43
16  Less than $50k     2016   0.52
17    $50k or more     2016   0.41

In [87]:
df = pd.read_csv('data/exit_polls.csv')

joined = pd.merge(df, df, on=['state', 'pollname', 'answer'])
joined = joined.loc[joined.year_x < joined.year_y]
joined = joined.loc[:, ['state', 'pollname', 'question_y', 'answer', 'democrat_x', 'republican_x', 'democrat_y', 'republican_y']]
joined.columns = ['state', 'pollname', 'question', 'answer', 'democrat_2012', 'republican_2012', 'democrat_2016', 'republican_2016']
joined = joined.dropna()


df2012 = joined[['state', 'pollname', 'question', 'answer', 'democrat_2012', 'republican_2012']].copy()
df2016 = joined[['state', 'pollname', 'question', 'answer', 'democrat_2016', 'republican_2016']].copy()

cols = ['state', 'pollname', 'question', 'answer', 'democrat', 'republican']

df2012.columns = cols
df2016.columns = cols

df2012['year'] = 2012
df2016['year'] = 2016

melted = df2012.append(df2016)
melted = melted.fillna(0)
#display(melted)

# Excluding these polltypes for two reasons:
# 1. They overlap with an existing pollname (e.g. AGE vs AGE 65)
# 2. They have Yes or No answers, so it's ambigious when it shows up in the chart. I can fix this later if it's really interesting.
melted = melted.loc[~melted['pollname'].isin(['AGE65', 'BREAK12B', 'CHILD12', 'EDUCCOLL', 'FAVRYAN2', 'GEOCOD', 'INC50K', 'NEC', 'OBAMA2', 'SEXBYRACE', 'UNIONHH12', 'WHTEVANG'])]

melted.to_csv('exit_polls_tidy.csv', index=False)

In [88]:
melted.groupby('pollname').first()

         state           question      answer  democrat  republican  year
pollname
AGE         AZ                Age       18-29      63.0        36.0  2012
INCOME3     AZ             Income  Under $50K      47.0        51.0  2012
MARRIED     CA     Marital status     Married      51.0        48.0  2012
PARENTS     NC  Parents by gender     Fathers      50.0        50.0  2012
PHIL3       AZ           Ideology     Liberal      86.0        12.0  2012
RACE        AZ               Race       White      32.0        66.0  2012
REL5        CA           Religion  Protestant      46.0        52.0  2012
SEX         AZ             Gender        Male      40.0        57.0  2012